[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none;
}

body {
    padding: 75px;
}

.form-control-feedback {
    z-index: 2;
}

.navbar a.brand { 
    padding: 0;
}

.navbar .container {
    padding: 0;
}

.navbar .brand > img { 
    max-height: 50px;
    overflow: visible;
    padding: 0;
}

#cover {
    position:absolute;
    height:100%;
    width:100%;
    background:white;
}

#chatContainer {
    margin-top: 15px;
}

#userInfo {
    float:right;padding:8px;
}

#alertBox {
    position: fixed;
    min-width: 75%;
    left: 50%;
    margin: 0 0 0 -37.5%;
    top: 70px;
    z-index: 9999;
}

.fa.fa-twitter {
    color:#00A7E7;
}

.fa.fa-facebook-square {
    color:#3662A0;
}

.fa.fa-google-plus-square {
    color: #D74634;
}

.fade-hide-setup, .fade-show-setup {
    -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.fade-hide-setup {
    opacity:1;
}
.fade-hide-setup.fade-hide-start {
    opacity:0;
}

.fade-show-setup {
    opacity:0;
}
.fade-show-setup.fade-show-start {
    opacity:1;
}

/* TABLE ------------------------------------------------ */
table {
    table-layout: fixed;
    word-wrap: break-word;
}

.table .th[class*=sort] {
  cursor: pointer;
}
.table .th[class*=sort]:after {
  content: "\f0dc";
  display: inline-block;
  color: #555;
  font-family: FontAwesome;
  font-size: 13px;
  font-weight: normal;
  float: right;
  margin-right: 1px;
  position: relative;
}
.table .th[class*=sort]:hover {
  color: #31c0be;
}
.table .th[class*=sorting_] {
  color: #31c0be;
}

.table .th.sorting_desc:after {
  content: "\f0dd";
  top: -6px;
  color: #31c0be;
}
.table .th.sorting_asc:after {
  content: "\f0de";
  top: 4px;
  color: #31c0be;
}
.table .th.sorting_disabled {
  cursor: inherit;
}
.table .th.sorting_disabled:after {
  display: none;
}

.table td {
    cursor: pointer;
}
